[submodule "mujoco"]
	path = mujoco
	url = git@github.com:kanghyunmin-bot/mujoco.git

[submodule "kmu_hit25_ros2_ws/ardupilot"]
	path = kmu_hit25_ros2_ws/ardupilot
	url = git@github.com:kanghyunmin-bot/ardupilot.git
